@page "/hardcoded-secrets"
@model Workshop_App_Demo_Goof_dotNET.Pages.Vulnerabilities.HardcodedSecretsModel

@{    ViewData["Title"] = "Hardcoded Secrets";
}

<h1>Hardcoded Secrets</h1>
<p>This page reveals a hardcoded secret.</p>

<h2>API Key: @Model.RevealedApiKey</h2>
